/* Estilos para el cuerpo y el encabezado */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

/* Estilos para el menú de navegación */
nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #e01818;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2em;
}

nav img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.mi-clase { width: 30%; }

/* Estilos para las secciones */
section {
    background-color: #fff;
    color: #333;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 2em;
    color: #333;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

section h3 {
    font-size: 1.5em;
    color: #666;
    margin-top: 20px;
}

section h4 {
    font-size: 1.2em;
    color: #444;
}

section p {
    font-size: 1.1em;
    line-height: 1.5;
}

/* Estilos para imágenes */
section img {
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para listas y elementos de lista */
ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 20px;
}

ul li {
    margin-bottom: 10px;
}

/* Estilos para tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

/* Estilos para enlaces */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
